@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro|Ubuntu&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

bodyCode {
    font-family: 'Source Code Pro', monospace;
}

.dataframe {
    font-family: 'Source Code Pro', monospace;
    border: 1pc;
    text-align: right;
}